{% extends "base.html" %}
{% load static %}
<title>{% block titie %} zone : karusart {% endblock %}</title>




{% block content %}
<header>
  <h3>มุมถ่ายภาพคณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี</h3>
 </header>
<section>
  <div class="column  alert-warning"><img src="{% static 'image/kr2.jpg'%}"/></div>
  <div class="column  alert-warning"><img src="{% static 'image/kr6.jpg'%}"/></div>
  <div class="column  alert-warning"><img src="{% static 'image/kr4.jpg'%}"/></div>

  <div class="column  alert-warning"><img src="{% static 'image/kr5.jpg'%}"/></div>
  
  <div class="column dark-red"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/927610/pexels-photo-432059.jpeg"/></div>
  <div class="column flat-retro"><img src="https://images.pexels.com/photos/167483/pexels-photo-167483.jpeg?h=350&auto=compress"/></div>
</section>

{% endblock %}